<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>流程实例</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>序号</th>
        <th>申请人</th>
        <th>创建时间</th>
        <th>备注</th>
        <th>状态</th>
        <!--<th>操作</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="data : ${result}">
        <td th:text="${data.id}" hidden="hidden"></td>
        <td th:text="${dataStat.index+1}"></td>
        <td th:text="${data.userName}"></td>
        <td th:text="${#dates.format(data.createTime,'yyyy-MM-dd HH:mm:ss')}" th:if="${not #lists.isEmpty(data.createTime)}"></td>
        <td th:text="${data.remark}"></td>
        <td th:text="${data.status}"></td>
        <!--<td>-->
            <!--<a th:href="@{'/flows/showProcess?id='+${data.id}}"  lass="font-blue deployBtn">查看审批详细</a>-->
        <!--</td>-->
    </tr>
    </tbody>
</table>
</body>
</html>